body {
  padding : 10px ;

}
.highlight { background-color: red; }


#exTab1 .tab-content {
  color : black;
  background-color: #ECF0F1;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : black;
  background-color: #ECF0F1;
  padding : 5px 15px;
}


#exTab1 .nav-pills > li > a {
  border-radius: 0;
}


#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #DAF7A6;
  padding : 5px 15px;
}
